{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form method="GET" action="{% url 'population_list' %}">
      	<div class="row">
          	<div  class="col s12 m12 l4">
            	<input type="text"  name="name" placeholder="Country Name" {% if name %} value="{{name}}" {% endif %} 
            	hx-get="{% url 'population_filter' %}" hx-trigger="keyup delay:500ms" hx-target="#search-results" class="form-control">
          	</div>
          	<div  class="col s12 m12 l2">
            	<input type="text"  name="year" placeholder="Year" {% if year %} value="{{year}}" {% endif %} 
            	hx-get="{% url 'population_filter' %}" hx-trigger="keyup delay:500ms" hx-target="#search-results" class="form-control">
          	</div>
          	<div  class="col s12 m12 l2">
				<select class="form-control" name="year" hx-get="{% url 'population_filter' %}" hx-trigger="change" hx-target="#search-results">
				    <option value="">Select Year</option>
				    {% for year in  year_list %}
				    <option value="{{ year }}">{{ year }}</option>
				    {% endfor %}
				</select> 
          	</div>
          	<div  class="col s12 m12 l3">
				<select class="form-control" name="name" hx-get="{% url 'population_filter' %}" hx-trigger="change" hx-target="#search-results">
				    <option value="">Select Country</option>
				    {% for name in  country_list %}
				    <option value="{{ name }}">{{ name }}</option>
				    {% endfor %}
				</select> 
          	</div>
          	<div class="form-group col s12 m12 l1">
              	<button type="submit" class="btn btn-primary">Search</button>
          	</div>
      	</div> 
    </form> 
</div>

<div id="search-results">
    {% include 'population_filter.html' %}
</div>

{% endblock %}